.projectCard {
    background-color: transparent;
    text-align: center;
    border: 0px;
}

.projectLinkBtn, .projectLinkBtn:link, .projectLinkBtn:hover, .projectLinkBtn:active, .projectLinkBtn:focus, .projectLinkBtn:visited{
    width:50%;
    background:linear-gradient(to bottom right, powderblue, mediumpurple);
    border:0px;
    color: black;
    margin-top:-5px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-weight: bold;
}
