.contactMeCard{
    background: mediumpurple;
    color: black;
}

.contactRow {
    margin: auto;
}

.contactMeBtn, .contactMeBtn:hover, .contactMeBtn:link, .contactMeBtn:active, .contactMeBtn:focus, .contactMeBtn:visited {
    text-decoration: underline;
    background: transparent;
    border: 0px;
    color: black;
    margin-bottom:50px;
}