.footer {
    margin: 10px auto;
    text-align: center;
} 

.backToTop, .backToTop:link, .backToTop:hover, .backToTop:active, .backToTop:focus, .backToTop:visited{
    color: black;
    text-decoration: none;
}