body {
    background: beige;
    /* background-image: url("https://i.pinimg.com/originals/19/fc/21/19fc21dc1f8a339ea8f302c75320a28f.jpg");
    padding-bottom: 50px;
    color:lightcyan;
    font-family: cursive, Tahoma, sans-serif; */
    
}

h1 {
    text-align: center;
}

.nameTop {
    font-size: 100px;
}

.jobTitle {
    text-align: center;
    font-size: 50px;
}

@media screen and (max-width: 570px){
    .jobTitle {
        text-align: center;
        font-size: 30px;
    }
    
}