.aboutMeCard{
    background-color: transparent;
    width:40rem;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.about-me-img{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}

@media screen and (max-width: 700px){
    .about-me-img{
        width: 300px;
        height: auto;
        margin: 0 auto;
        /* margin-right: 10px; */
    }
    
}
@media screen and (max-width: 570px){
    .about-me-img{
        width: 300px;
        height: auto;
        margin: 0 auto;
        /* margin-right: 10px; */
    }
    
}