.btn-dark {
    border-radius: 15px;
}

.about-me-img {
    padding-right:20px;
    max-width: 50%;
    max-height: 50%;
}

.container {
    background-color: lightslategrey;
    width: 70%;
    padding:50px;
    margin: 50px auto;
    border: 5px solid lightcyan;
    border-radius: 15px;
    
}